container_commands:
  0_htaccess:
    command: "cp .ebextensions/.htaccess .htaccess"
  1_htaccess:
    command: "chown webapp:webapp .htaccess"
  2_htaccess:
    command: "chmod 644 .htaccess"
  5_wpconfig:
    command: "cp .ebextensions/wp-config.php wp-config.php"
  6_wpconfig:
    command: "chown webapp:webapp wp-config.php"
  7_wpconfig:
    command: "chmod 644 wp-config.php"