/*landing page*/

.landing-page {
        transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    background: #fff !important;
}

.landing-page .lp-button {
    margin: 10px 10px 10px 20px !important;
}

.lp-navigation {
   border-bottom: 0 !important;
}

.landing-page-logo,.landing-page-logo-header {
    position: absolute;
    left: 50px;
    z-index: 3;
}

.display-none {
    visibility: hidden;
}

.intro h2 {
    font-size: 46px;
    color: #000;
}

.text-center {
    text-align: center;
}

/*
.intro-content {
    width: 50%;
}
*/

.intro-content p {
    text-align: center;
    padding: 0 15%;
}

.intro-btn {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 60px;
}

.content-list-title {
    margin-top: 50px;
}

.content-list {
    margin: 50px auto 0;
    width: 85%;
}

.content-list p {
    margin: 10px;
    line-height: 20px;
}

.con-col1 {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-left: 25px;
}

.con-col2 {
    display: inline-block;
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding-left: 25px;
}

.slick-arrow.slick-prev {
  left: 100px;
/*  background: red; to notice it, is white*/
  z-index: 1;
}
.slick-arrow.slick-next {
  right: 100px;
/*  background: red; to notice it, is white*/
}

.slider-container {
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.slider-container img {
    width: 100%;
}

.slider-caption {
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: 5px;
    
}

.slider-caption p {
    color: #fff;
    font-size: 30px;
    margin-left: 35px;
    
}

.icon-expand {
    display: inline-block;
    width: auto;
    float:right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

